body,
h1 {
    font-family: "Tomb Raider", sans-serif;
    margin: auto
}

h2 {
    font-family: "Tomb Raider", sans-serif;
}

article {
    font-family: Arial, Helvetica, sans-serif
}

footer,
nav {
    text-align: center
}

@font-face {
    font-family: "Tomb Raider";
    src: url("../fonts/VendomeTBold/Vendome_T_Bold.ttf")
}

.main-wrapper,
.menu-button,
html {
    background-color: #292929
}

footer,
header {
    background-color: #535353
}

body,
footer,
html {
    width: 100%
}

html {
    color: #9b9b9b;
    font-size: 14px;
    height: 100%
}

h1 {
    line-height: 1.5;
    padding: 5px;
    font-size: 25px
}

body {
    border-style: solid;
    border-color: #525050;
    height: auto
}

.aside-wrapper,
.logo-wrapper,
.menu-button-wrapper {
    display: flex;
    justify-content: center
}

.menu-button {
    font-size: 1.5rem;
    color: #fff;
    border: none
}

.article-header {
    font-size: 25px;
    color: #bebebe
}

footer {
    margin-top: 5%;
    line-height: 380%
}

.navigation>:first-child,
.navigation>:nth-child(3),
nav>* {
    line-height: 3ch;
    border: 1px solid #706c6c
}

.lara-originalimg,
body,
img {
    width: 100%
}

#bike,
#branch,
#cover,
#swim,
#uzi,
.article-below,
.aside,
.dropdown-content,
.evolution-wrapper,
h1,
nav {
    display: none
}

.asidebefore,
.dropdown:hover .dropdown-content,
.image-wrapper,
.main-wrapper>*,
header {
    display: flex
}

a,
nav {
    text-decoration: none
}

header>:nth-child(2) {
    flex: 35%
}

a {
    color: #f0f8ff
}

nav {
    flex-direction: column;
    background-color: #020202;
    list-style: none;
    font-size: 20px;
    align-self: auto
}

nav>* {
    flex: 11.6%;
    flex: 11.6%;
    border-bottom: 0;
    border-top: 0
}

.navigation>:first-child:hover,
.navigation>:nth-child(2):hover,
.navigation>:nth-child(3):hover,
nav>:hover {
    background-color: #2a2d31
}

nav>:first-child {
    border-bottom: 1px solid #706c6c
}

nav>:last-child {
    border-top: 1px solid #706c6c
}

.asidebefore {
    flex: 50%;
    margin-top: 5%
}

.imgbefore {
    width: 35%
}

.main-wrapper>* {
    flex-wrap: wrap;
    flex: 100%
}

.main-wrapper>:first-child {
    flex: 1 0 50%;
    margin-top: 15px
}

.main-wrapper>:nth-child(2) {
    flex: 50%
}

#introtext {
    text-align: justify;
    margin-top: 18;
    padding: 15px;
    font-size: 18px
}

.lara-originalimg {
    width: 100%;
    height: auto
}

.hideMe {
    margin-top: -5;
    width: 80%;
    height: 95%
}

.image-wrapper {
    flex-wrap: wrap;
    flex-direction: row
}

.dropdown-content {
    display: none;
    position: relative;
    flex-flow: column;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    font-size: 15px;
    line-height: 1.5;
    width: auto;
    margin-top: 0
}

.select-game-category {
    border-style: solid;
    border-color: #706c6c;
    border-width: 1px;
    border-bottom: 0
}

.timeline-wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap
}

.timeline-flexme {
    flex: 0 0 85%
}

.lara-history {
    flex: 0 0 95%
}

#currently-active,
.select-game-category:hover {
    color: gold
}

@media only screen and (min-width:601px) {

    .navigation,
    a {
        text-decoration: none
    }

    .evolution-wrapper,
    .navigation {
        text-align: center
    }

    #lara-suduc,
    .dropdown-content,
    .navigation,
    h1 {
        display: none
    }

    body {
        width: 100%
    }

    .aside-wrapper,
    .logo-wrapper {
        display: flex;
        justify-content: center
    }

    .imgbefore {
        display: none;
        width: 35%
    }

    .wallpaper-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    .img-wallpaper {
        flex: 1 0 25%
    }

    .main-wrapper {
        display: flex;
        background-color: #292929
    }

    .main-wrapper>:first-child {
        flex: 1 1 30%;
        margin-top: 35px
    }

    .main-wrapper>:nth-child(2) {
        flex: 70%
    }

    #introtext {
        text-align: justify;
        margin-top: 18;
        padding: 15px;
        font-size: 18px
    }

    .hideMe,
    .lara-originalimg,
    img {
        width: 100%;
        height: auto
    }

    header {
        display: flex;
        background-color: #535353
    }

    header>:first-child {
        flex: 65%
    }

    header>:nth-child(2) {
        flex: 35%
    }

    a {
        color: #f0f8ff
    }

    .navigation {
        display: none;
        flex-direction: column;
        background-color: #020202;
        list-style: none;
        font-size: 20px
    }

    #bike,
    #branch,
    #cover,
    #swim,
    #uzi,
    .dropdown:hover .dropdown-content,
    .fotogalery {
        display: flex
    }

    .navigation>:nth-child(2) {
        line-height: 3ch;
        border-style: solid;
        border-color: #706c6c;
        border-width: 1px;
        border-bottom: 0;
        border-top: 0
    }

    .image-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row
    }

    .game-screenshot {
        flex: 0 1 100%
    }

    .dropdown-content {
        display: none;
        position: relative;
        flex-flow: column;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
        z-index: 1;
        font-size: 15px;
        line-height: 1.5;
        width: auto;
        margin-top: 0
    }

    .aside {
        display: flex;
        flex-direction: column
    }

    .img-after {
        flex: 1 1 100%
    }

    .evolution-wrapper {
        display: block
    }
}

@media only screen and (min-width:768px) {

    #currently-active-box,
    .navigation>:first-child:hover,
    .navigation>:nth-child(2):hover,
    .navigation>:nth-child(3):hover {
        border-bottom: #2bb45d;
        border-style: solid
    }

    .dropdown-content,
    header {
        background-color: #535353
    }

    .menu-button {
        display: none
    }

    body {
        width: 65%
    }

    .dropdown-content {
        display: none;
        position: relative;
        flex-flow: column;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
        padding: 20px 25px;
        z-index: 1;
        font-size: 16px;
        line-height: 1.5;
        width: auto;
        top: -4;
        margin-top: 0
    }

    #lara-suduc,
    .navigation,
    h1,
    header {
        display: flex
    }

    h2 {
        margin-top: 0
    }

    .dropdown:hover .dropdown-content {
        display: inline-flex
    }

    .navigation {
        flex: 25%;
        flex-direction: row
    }

    h1 {
        color: #fff;
        margin-left: 2%
    }

    header {
        height: 76px
    }

    header>:first-child {
        flex: 0 1 53%
    }

    header>:nth-child(2) {
        flex: 0 1 47%;
        line-height: 55%
    }

    .navigation>:first-child,
    .navigation>:nth-child(2),
    .navigation>:nth-child(3) {
        line-height: 350%;
        flex: 1 0 13.3%;
        border-style: none
    }

    .main-wrapper>:first-child {
        flex: 0 0 35%
    }

    .main-wrapper>:nth-child(2) {
        flex-wrap: wrap;
        flex: 65
    }

    .image-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row
    }

    .game-screenshot {
        flex: 1 1 33%
    }

    .select-game-category {
        border: none
    }
}

@media only screen and (min-width:900px) {
    
    .main-wrapper>:first-child {
        flex: 0 0 35%
    }

    .main-wrapper>:nth-child(2) {
        flex: 1 1 65%
    }

    h1 {
        font-size: 28px;
        line-height: 1.2
    }
}

@media only screen and (min-width:1100px) {

    .hideMe {
        margin-top: -50
    }

    #lara-suduc {
        display: none
    }
}

@media only screen and (min-width:1200px) {
    #lara-flashlight {
        display: none
    }

    .dropdown-content {
        display: none;
        position: sticky;
        flex-flow: column;
        background-color: #535353;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
        padding: 20px;
        z-index: 1;
        font-size: 16px;
        line-height: 2;
        width: auto
    }

    .dropdown:hover .dropdown-content {
        display: inline-flex
    }

    header:hover {
        height: 76px
    }

    header>:first-child {
        flex: 60%
    }

    header>:nth-child(2) {
        flex: 40%;
        line-height: 55%
    }

    .lara-originalimg {
        margin-top: 30%
    }

    .article-wrapper {
        display: flex;
        flex-flow: column
    }
}

@media only screen and (min-width:1400px) {

    .article-wrapper {
        margin-top: 10%
    }

    .hideMe {
        margin-top: 170px
    }

    .lara-originalimg {
        margin-top: 50px
    }

    .img-wallpaper {
        flex: 1 0 33%
    }
}

@media only screen and (min-width:1600px) {

    .article-wrapper {
        margin-top: 0
    }

    .main-wrapper>:first-child {
        flex: 20%
    }

    .hideMe,
    .lara-originalimg {
        margin-top: auto
    }
}